{
 "comment": "template for messaging config",

 "aws": {
   "snsHost":  "sns.us-east-1.amazonaws.com",
   "snsArn":  "your-aws-sns-arn",
   "snsKeyId": "your-sns-keyid",
   "snsKey":   "your-sns-key",
   "sqsKeyId": "your-sqs-keyid",
   "sqsKey":   "your-sqs-key",
   "sqsQueue":  "your-sqs_queue",
   "sqsUrl":  "your-sqs-queue-url"
   },

 "certs": [
   {"id": "some sig id",
    "url": "URL: where to find the cert",
    "keyfile": "file path to the key"
     },
   {"id": "some other sig id",
    "url": "ditto",
    "keyfile": "ditto"
     }
   ],

 "crypts": [
   {"id": "some crypt id",
    "key": "key for that id", # see keygen
    },
   {"id": "some other crypt id",
    "key": "some other key",
    }
   ],

 "ca_file": "where ot find the ca file, to getg senders sig cert",
 "syslog_facility": "local5",
 "syslog_name": "iammsg",
 "verbose": "0",
 "end": "end"
}


